<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === currentHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete" (click)="delete(hero, $event);">
    delete
  </button>
  </li>
</ul>

<!--<hero-detail [hero]="currentHero"></hero-detail>-->

<div *ngIf="currentHero">
  <h2>
    {{currentHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail(currentHero.id)">View Details</button>
</div>
